<div class="container">
	<form asp-action="Search" method="get">
		<input type="text" name="searchString" placeholder="Nhập Nhà Cung Cấp cần tìm..." value="@ViewBag.SearchString" />
		<input type="submit" value="Tìm Kiếm" />
	</form>
	<table class="table">
		<thead>
			<tr>
				<th>Tên Nhà Cung Cấp</th>
				<th>Địa Chỉ</th>
				<th>Số Điện Thoại</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in ViewBag.Supplier)
			{
				<tr>
					<td width="20%">@item.Name </td>
					<td width="20%">@item.Address </td>
					<td width="20%">@item.PhoneNumber </td>
					<td width="20%">@item.Email </td>
					<td width="40">
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
						| <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
						| <a asp-action="Detail" asp-route-id="@item.Id">Detail</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a asp-controller="Supplier" asp-action="Create" class="btn btn-primary">Thêm Mới</a>
</div>	